<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Form</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form id="form-checkout" action="{{ url_for('pix.payment') }}" method="post">
        <h2>Payment Form</h2>

        <label for="amount">Amount:</label><br>
        <input type="number" id="amount" name="amount" step="0.01" required><br><br>

        <label for="description">Description:</label><br>
        <textarea id="description" name="description" rows="4" cols="50" required></textarea><br><br>

        <label for="identificationType">Identification Type:</label><br>
        <select id="identificationType" name="identificationType">
            <option value="CPF">CPF</option>
            <option value="CNPJ">CNPJ</option>
        </select><br><br>

        <label for="identificationNumber">Identification Number:</label><br>
        <input type="text" id="identificationNumber" name="identificationNumber"/><br><br>

        <input type="hidden" name="returnLink" value="{{ url_for('checkout.checkout') }}"/>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br><br>

        <button type="submit">Submit</button>
    </form>
</body>
</html>
