<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card Information</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% for card in cards %}
    <div class="card-container">
        <div class="card-logo">
            <img src="{{ card.payment_method.thumbnail }}" alt="{{ card.issuer.name }} Logo">
        </div>
        <div class="card-number">{{ card.first_six_digits }}******{{ card.last_four_digits }}</div>
        <div class="card-details">
            <p><strong>Cardholder:</strong> {{ card.cardholder.name }}</p>
            <p><strong>Issuer:</strong> {{ card.issuer.name }}</p>
            <p><strong>Expires:</strong> {{ card.expiration_month }}/{{ card.expiration_year }}</p>
        </div>
        <a href="{{ url_for('card.get_card', customer_id=card.customer_id, card_id=card.id) }}">Selecionar</a>
        <a href="{{ url_for('card.delete_card', customer_id=card.customer_id, card_id=card.id) }}">Deletar</a>
    </div>
    {% endfor %}
</body>
</html>
