<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cartão</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form id="form-checkout" class="form">
        <div id="form-checkout__cardNumber" class="container"></div>
        <div id="form-checkout__expirationDate" class="container"></div>
        <div id="form-checkout__securityCode" class="container"></div>
        <input type="text" id="form-checkout__cardholderName" />
        <select id="form-checkout__issuer"></select>
        <select id="form-checkout__installments"></select>
        <select id="form-checkout__identificationType"></select>
        <input type="text" id="form-checkout__identificationNumber" value="{{ identificationNumber }}"/>
        <input type="email" id="form-checkout__cardholderEmail" value="{{ email }}" />

        <button type="submit" id="form-checkout__submit">Pagar</button>
    </form>

    <script src="https://sdk.mercadopago.com/js/v2"></script>
    <script>
        const paymentData = {
            amount: "{{ amount }}",
            description: "{{ description }}",
            purchase_identification: "{{ purchase_identification }}",
        };

        const mp = new MercadoPago("{{ payment_mp_public_key }}");
        const cardForm = mp.cardForm({
            amount: paymentData.amount,
            iframe: true,
            form: {
                id: "form-checkout",
                cardNumber: {
                    id: "form-checkout__cardNumber",
                    placeholder: "Número do cartão",
                },
                expirationDate: {
                    id: "form-checkout__expirationDate",
                    placeholder: "MM/YY",
                },
                securityCode: {
                    id: "form-checkout__securityCode",
                    placeholder: "Código de segurança",
                },
                cardholderName: {
                    id: "form-checkout__cardholderName",
                    placeholder: "Titular do cartão",
                },
                issuer: {
                    id: "form-checkout__issuer",
                    placeholder: "Banco emissor",
                },
                installments: {
                    id: "form-checkout__installments",
                    placeholder: "Parcelas",
                },
                identificationType: {
                    id: "form-checkout__identificationType",
                    placeholder: "Tipo de documento",
                },
                identificationNumber: {
                    id: "form-checkout__identificationNumber",
                    placeholder: "Número do documento",
                },
                cardholderEmail: {
                    id: "form-checkout__cardholderEmail",
                    placeholder: "E-mail",
                },
            },
            callbacks: {
                onFormMounted: error => {
                    if (error) return console.warn("Form Mounted handling error: ", error);
                    console.log("Form mounted");

                    const identificationTypeField = document.getElementById("form-checkout__identificationType");
                    const waitForOptions = setInterval(() => {
                        const options = [...identificationTypeField.options].map(o => o.value);

                        if (options.length > 1) {
                            clearInterval(waitForOptions);
                            identificationTypeField.value = "{{ identificationType }}";
                            identificationTypeField.dispatchEvent(new Event('change'));
                        }
                    }, 500);
                },
                onSubmit: async event => {
                    event.preventDefault();

                    const {
                        paymentMethodId: payment_method_id,
                        issuerId: issuer_id,
                        cardholderEmail: email,
                        amount,
                        token,
                        installments,
                        identificationNumber,
                        identificationType,
                    } = cardForm.getCardFormData();

                    const response = await fetch("{{ url_for('card.process_payment') }}", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            token,
                            issuer_id,
                            payment_method_id,
                            transaction_amount: Number(amount),
                            installments: Number(installments),
                            description: paymentData.description,
                            payer: {
                                email,
                                identification: {
                                    type: identificationType,
                                    number: identificationNumber,
                                },
                            },
                            purchase_identification: paymentData.purchase_identification,
                        }),
                    });

                    const paymentResult = await response.json();

                    if (paymentResult.status === "approved") {
                        window.location.href = "/card/payment_successful";
                    } else {
                        window.location.href = "/card/payment_error";
                    }
                }
            },
        });
    </script>
</body>
</html>